body {
  font-size: 15px;
  margin-top: 1em;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

@media (min-width: 700px) {
  body {
    margin-left: 7em;
    max-width: 50%;
  }
}

@media (min-width: 1000px) {
  body {
    margin-left: 12em;
    max-width: 40%;
  }
}

@media (min-width: 1200px) {
  body {
    margin-left: 15em;
    max-width: 30%;
  }
}

ul {
  padding-left: 0;
}

#inputs {
  align-items: center;
}

#input_list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

@media (max-width: 1500px) {
  input {
    max-width: 20%;
  }
}

@media (max-width: 1150px) {
  input {
    max-width: 17%;
  }
}

@media (max-width: 900px) {
  input {
    max-width: 20%;
  }
}

@media (max-width: 700px) {
  input {
    max-width: 18%;
  }
}

@media (max-width: 500px) {
  input {
    max-width: 22%;
  }
}

@media (max-width: 330px) {
  input {
    max-width: 25%;
  }
}

#result {
  margin-top: 1em;
  font-size: large;
  display: none;
}

#buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: left;
}

#calc_btn {
  margin-right: 1em;
}

#reset_btn {
  margin: 0;
}

@keyframes mes_a_label {
  0% {
    left: 3rem;
  }

  50% {
    left: 0;
  }

  70% {
    left: 1rem;
  }

  100% {
    left: 0;
  }
}

@keyframes mes_a {
  0% {
    background-color: rgb(0, 0, 0, 0);
    left: 3rem;
  }

  50% {
    background-color: rgb(231, 216, 207);
    left: 0;
  }

  70% {
    background-color: rgb(231, 216, 207);
    left: 1rem;
  }

  100% {
    background-color: rgb(0, 0, 0, 0);
    left: 0;
  }
}

#mes_a {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 3rem;
  animation-name: mes_a;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

#mes_a_label {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 3rem;
  animation-name: mes_a_label;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
